<mat-form-field>
  <input type="text" matInput [formControl]="gameControl" (keydown.enter)="onOptionSelected($event)" placeholder="Sekiro Shadows Die Twice, Kingdom Hearts III, Doom Eternal, etc...">
</mat-form-field>

<div *ngIf="hasSelectedGame" cdkDropList class="selection-list" (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let chosenGame of choices; let i = index" cdkDrag>
    {{"#" + (i + 1)}} - {{chosenGame}}
    <button (click)="remove(chosenGame)">X</button>
  </div>
</div>