<div class="ballot-container">
  <div class="ballot-box">
    <h1>Best Game</h1>
    <app-bestgame [games]="eligibleGames" [choices]="chosenGames"></app-bestgame>
  </div>

  <div class="ballot-box">
    <h1>Biggest Disappointment</h1>
    <app-bestgame [games]="eligibleGames" [choices]="chosenGames"></app-bestgame>
  </div>

  <div class="ballot-box">
    <h1>Biggest Surprise</h1>
    <app-bestgame [games]="eligibleGames" [choices]="chosenGames"></app-bestgame>
  </div>

  <div class="ballot-box">
    <h1>Best Remake</h1> <br />
    <app-bestgame [games]="eligibleRemasters" [choices]="chosenRemasters"></app-bestgame>
  </div>

  <div class="ballot-box">
    <h1>Most Anticipated</h1> <br />
    <app-bestgame [games]="eligibleRemasters" [choices]="chosenRemasters"></app-bestgame>
  </div>
</div>


<br />
<div class="buttonz">
  <button mat-raised-button class="submit-button" (click)="submit()">Submit</button>
</div>
