::ng-deep .mat-raised-button {
    min-height: 250px !important;
    width: 60% !important;
    font-size: 280px !important;
    background-color: fuchsia !important;
    color: white;
    align-content: center;
}

.ballot-container {
    width: 50%;
    display: grid;
    grid-row: auto auto;
    grid-template-columns: 100% 100%;
    grid-row-gap: 20px;
    justify-items: center;
}

.ballot-box {
    border-radius: 10px;
    display: grid;
    width: 100%;
}

.ballot-header {
    font-size: 150%;
    display: grid;
    margin-right: 10px;
}

.mat-form-field {
    width: 60%;
}

app-bestgame[_ngcontent-c1] {
    width: 60%;
}


@media (max-width: 812px) {
    .ballot-container {
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    grid-row-gap: 0px;
    }

    .ballot-header {
    font-size: 110%;
    display: flex;
    width: 100%;
    }

    .mat-form-field {
    width: 68%;
    }

    app-bestgame[_ngcontent-c1] {
    width: 80%;
    }

    .ballot-box {
    display: grid;
    grid-template-columns: 100%;
    }

    ::ng-deep .mat-raised-button {
    min-height: 200px !important;
    width: 60% !important;
    font-size: 60px !important;
    background-color: fuchsia !important;
    color: white;
    align-content: center;
    }

    /* app-bestgame {
    size: 50%;
    } */

}
