  table {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }

  .ballot-header {
    display: flex;
    justify-content: center;
  }
  
.dirty-table {
  display: flex;
  width: 75%;
  justify-content: space-evenly;
  margin-bottom: 1em;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
