<mat-form-field>
  <input type="text" matInput [formControl]="gameControl" [matAutocomplete]="auto" placeholder="Artifact, Hitman II, Minecraft, etc...">
</mat-form-field>
<mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
  <mat-option *ngFor="let game of filteredGames | async " [value]="game">
    {{game}}
  </mat-option>
</mat-autocomplete>


<div *ngIf="hasSelectedGame" cdkDropList class="selection-list" (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let chosenGame of choices; let i = index" cdkDrag>
    {{"#" + (i + 1)}} - {{chosenGame}}
    <button (click)="remove(chosenGame)">X</button>
  </div>
</div>